<article class="nsl-section">
    <div class="nsl-container">
        <div class="title-ct">
            <h3>Nos dernières actualités</h3>
            <h2>Rejoignez notre liste d'abonnés pour recevoir du contenu exclusif</h2>
        </div>
        <form class="entry-container" action="{{path('add_newsletter')}}" method="post">
            <div class="nsl-sub">
                <label for="nsl-subscription"></label>
                <input type="email" placeholder="Votre adresse Email" name="nsl-subscription" id="nsl-subscription">
                <button type="submit" class="nsl-btn">Rejoindre</button>
            </div>
            <div class="nsl-agreement">
                <input type="checkbox" name="nsl-agreement-box" id="nsl-agreement-box">
                <label for="nsl-agreement-box"> J'accepte les termes et conditions d'utilisation des données </label>
            </div>
        </form>
    </div>
</article>