<article class="nsl-section">
    <div class="nsl-container">
        <div class="title-ct">
            <h3>Nos dernières actualités</h3>
            <h2>Rejoignez notre liste d'abonnés pour recevoir du contenu exclusif</h2>
        </div>
        <form class="entry-container">
            <div class="nsl-sub">
                <label for="nsl-subscription"></label>
                <input type="email" placeholder="Votre adresse Email" name="nsl-subscription" id="nsl-subscription">
                <a href="./a-propos.html" class="nsl-btn">Rejoindre</a>
            </div>
            <div class="nsl-agreement">
                <input type="checkbox">
                <p> J'accepte les termes et conditions d'utilisation des données </p>
            </div>
        </form>
    </div>
</article>