<h1>Confirmation de souscription</h1>

<p>
   Nous avons de plaisir de vous confirmer votre inscription à la newsletter.
</p>

<p>
    Nous vous souhaitons une bonne journée.
</p>
<p>
    Très Cordialement l'équipe Koleka
</p>