<h1>Hi! Please confirm your email!</h1>

<p>
    Pour confirmer votre adresse email veuillez <br><br>
    <a href="{{ signedUrl }}">cliquer ici</a>.
</p>

<p>
    Nous vous souhaitons une bonne journée.
</p>
<br>
<p>
    Très Cordialement l'équipe Koleka
</p>
