@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/************* NAVBAR DESKTOP *******************************/
#desktop{
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    /* font-family: 'Rubik Mono One', sans-serif; */
    z-index: 999;
}
#desktop .base-nav{
    width: 100%;
    height: 80px;
    background-color: #1a2020;
    font-family: 'Mate SC', serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(239, 239, 239, 0.71);
}
#desktop .base-nav div{
    width: 100%;
    height: auto;
}
#desktop .logo-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#desktop .logo{
    width: 70px;
    height: 40px;
}
#desktop ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 0;
}
#desktop ul li{
    padding-right: 5%;
}
#desktop ul a{
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    
}
#desktop ul a:hover{
    color: #E6D18E;
}
/********************** USER NAV ********************************/
#desktop .user-nav{
    width: 100%;
    height: 30px;
    background-color: #E6D18E;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(239, 239, 239, 0.71);
    font-family: 'Reem Kufi Fun', sans-serif;
}
#desktop .user-nav p{
    margin-bottom: 0;
}
#desktop .user-nav .user-menu .user-menu-icon{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 5px;
    cursor: pointer;
}
#desktop .user-nav .user-menu ul{
    padding: 0;
}
#desktop .user-nav .user-menu .user-config{
    width: 200px;
    height: auto;
    position: absolute;
    top: 100%;
    right: 14%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E6D18E;
}
#desktop .user-nav .user-menu .user-config li{
    width: 100%;
    padding: 5% 0;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}
#desktop .user-nav .user-menu .user-config a{
    color: #222;
}
#desktop .user-nav .user-menu .user-config li:hover{
    background-color: #ffebb0;
}
/***************** MOBILE NAVBAR *******************/
#mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #1a2020;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    border-bottom: 1px solid rgba(239, 239, 239, 0.71);
    z-index: 9999;
}
#mobile-nav .logo-mobile{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        z-index: 998;
}
#mobile-nav .logo-mobile .logo-mb{
    width: 60px;
    height: 30px;
}
#mobile-nav .fa-bars,
.fa-times{
    color: #E6D18E;
    font-size: 34px;
    position: relative;
    z-index: 9999;
}
#mobile-nav .mobile-list{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #E6D18E;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2% 0px 0px 0px;
    gap: 8px;
    font-size: 32px;
    overflow-y: scroll;
    transition: transform 1s;
    z-index: 9999;
}
#mobile-nav .mobile-list .mobile-link{
    text-decoration: none;
    color: #1a2020;
    font-family: 'Mate SC', serif;
}
#mobile-nav .mobile-list .user-mobile-link a{
    text-decoration: none;
    color: #1a2020;
    font-family: 'Mate SC', serif;
}
#mobile-nav .mobile-list .closed-user-mobile{
    display: none;
}
.closed-menu{
    transform: translateX(-100%);
}
.open{
    transform: translateX(0);
}
/*************** FOOTER **************************/
footer{
    width: 100%;
    height: 250px;
    padding: 1% 5% 0 5%;
    background-color: #1a2020;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
footer a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: -apple-system, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;

}
footer .social{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: rgb(131, 130, 130);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .social:hover{
    background-color: #E6D18E;
    color: #222;
}
footer .site-map-link{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
footer .site-map-link a:hover{
    color: #E6D18E;
}
footer .site-map-link li{
    list-style-type: none;
}
footer .icon-btn{
    display: flex ;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
footer .credit{
    margin-top: 10%;
    text-align: center;
    font-size: 18px;
}
footer .credit a{
font-size: 17px;
}
/************** NEWSLETTER ************************/
.nsl-section{
    padding: 5% 0;
}
.nsl-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0 2%;
}
.title-ct{
    width: 60%; 
}
.entry-container{
    width: 40%;
}
.nsl-container h3{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    color: #848282;
    letter-spacing: 2px;
    font-size: 18px;
    
}
.nsl-container h2{
    padding-top: 4%;
    width: 80%;
    font-size: 35.008px;
    line-height: 45.5104px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: black;
}
#nsl-subscription{
    margin-top: 10%;
    width: 60%;
    padding: 10px 8px;
    border-radius: 1px;
    border: 1px solid #222;
}
.nsl-btn{
    margin-top: 10%;
    padding: 10px 30px;
    background-color: #222;
    color: #fff;
    text-decoration: none;
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 1px;
    border: none;
    cursor: pointer;
}
.nsl-btn:hover{
    background-color: rgb(70, 68, 68);
}
.nsl-sub{
    display: flex;
    flex-direction: row;
    gap: 2px;
}
.nsl-agreement{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 5%;
    font-family: 'Cabin Condensed', sans-serif;
    letter-spacing: 1px;
}

/************************ ERROR MESSAGE *********************************/
.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

/*********************** RESPONSIVE *************************************/

@media screen and (min-width: 280px) and (max-width: 575px){
    /********* NAVBAR **************/
    #desktop{
        display: none;
    }
    #mobile-nav{
        display: flex;
    }
     /******* FOOTER ********/
     footer{
        height: 400px;
        padding: 1% 3% 0 3%;
        gap: 30px;
    }
}
