@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');
/***************** SIGNUP PAGE ***************************/
#signup form{
    margin-top: 4%;
    margin-right: 8%;
    margin-bottom: 4%;
    padding: 40px 50px;
    background-color: #fff;
    width: 600px;
    height: auto;
}
#signup form .first-row{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#signup form .first-row div{
    width: 100%;
    height: auto;
}

#signup form #lastname,
#signup form #firstname,
#signup form #email,
#signup form #plainPassword,
#signup form #cf-psw{
    width: 100%;
    padding: 10px 20px;
    font-family: 'Cabin Condensed', sans-serif;
    margin-bottom: 4%;
    border-radius: 1px;
    border: 1px solid gainsboro;
}
#signup form h2{
    text-align: center;
    margin-bottom: 4%;
    font-family: 'Libre Caslon Display', serif;
    font-weight: 700;
    font-size: 40px;
}
#signup .rmb-me{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    font-family: 'Cabin Condensed', sans-serif;
}
#signup .sp-btn-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
#signup .sp-btn-wrapper button{
    width: 100%;
    padding: 15px 20px;
    text-decoration: none;
    background-color: #222;
    text-align: center;
    color: #fff;
    font-family: 'Cabin Condensed', sans-serif;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    font-size: 16px;

}
#signup .sp-btn-wrapper button:hover{
    background-color: #E6D18E;
    color: black;
}
#signup .signup-link{
    display: block;
    padding: 1% 0;
    margin-bottom: 0;
}
@media screen and (min-width: 280px) and (max-width: 575px){
    #signup{
        min-height: 100vh;
        padding: 4% 0;
        justify-content: center;
    }
    #signup form{
        margin-right: 0%;
        width: 80%;
        margin-top: 0%;
    }
    #signup form .first-row{
        flex-direction: column;
        gap: 5px;
    }
}