#user-article{
    width: 100%;
    height: auto;
    padding-top: 110px;
}
#user-article .container{
    width: 100%;
    height: 140vh;
}

@media screen and (min-width: 280px) and (max-width: 575px) {
    #user-article .container .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}